#books {
    border:1px solid black;
    
}

.bookContainer {
    padding: 20px;
}

.book-card a {
    text-decoration: none;
    color: inherit;
}

.book-card {
    cursor: pointer;
}
